In [1]:
import pandas as pd

In [91]:
x = [{'amogh':'kp','num':900,'value': {'dog':90,'f':99}},{'cat':'dog'},{'amogh': 'kp', 'num': 900}, {'value': {'dog':90,'f':99}}]

In [92]:
x

[{'amogh': 'kp', 'num': 900, 'value': {'dog': 90, 'f': 99}},
 {'cat': 'dog'},
 {'amogh': 'kp', 'num': 900},
 {'value': {'dog': 90, 'f': 99}}]

In [97]:
xx = {}
for ind in range(len(x)):
    s = x[ind]
    for key, value in s.items():
        if key in xx:
            if isinstance(value,dict):
                for key_, value_ in value.items():
                    if key+ '.'+key_ in xx:
                        xx[key+ '.'+key_].append(value_)
                    else:
                        xx[key+ '.'+key_] = [value_]
            
            xx[key].append("hello") 
        else:
            if isinstance(value,dict):
                for key_, value_ in value.items():
                    if key+ '.'+key_ in xx:
                        xx[key+ '.'+key_].append(value_)
                    else:
                        xx[key+ '.'+key_] = [value_]
            xx[key] = [value]

In [98]:
key+ '.'+key

'value.value'

In [100]:
xx

{'amogh': ['kp', 'hello'],
 'num': [900, 'hello'],
 'value.dog': [90, 90],
 'value.f': [99, 99],
 'value': [{'dog': 90, 'f': 99}, 'hello'],
 'cat': ['dog']}

In [1]:
import copy 
import json
import re
import sys
from math import isnan
import six

In [2]:

try:
    # 3.8 and up
    from collections.abc import Iterable
except ImportError:
    from collections import Iterable

In [14]:
previous_key = '1'
separator =':'
new_key = ':'
replace_separators='::'

In [ ]:
if replace_separators is not None:
    new_key = str(new_key).replace(separator,replace_separators)

In [15]:
 new_key = str(new_key).replace(separator,replace_separators)

In [16]:
 new_key

'::'

In [17]:
u"{}{}{}".format(previous_key, separator, new_key)

'1:::'

In [171]:
def _construct_key(previous_key, separator, new_key, replace_separators=None):
    """
    Returns the new_key if no previous key exists, otherwise concatenates
    previous key, separator, and new_key
    :param previous_key:
    :param separator:
    :param new_key:
    :param str replace_separators: Replace separators within keys
    :return: a string if previous_key exists and simply passes through the
    new_key otherwise
    """ 
    if replace_separators is not None:
        new_key = str(new_key).replace(separator, replace_separators)
    if previous_key:
        print(previous_key)
        return u"{}{}{}".format(previous_key, separator, new_key)
    else:
        return new_key

In [78]:
_construct_key(previous_key ='g', separator='_', new_key ='f', replace_separators=':')

'g_f'

In [116]:
nested_dict = {'c':{'lop':1}}

In [28]:
assert isinstance(nested_dict, dict), "flatten requires a dictionary input"
assert isinstance(separator, six.string_types), "separator must be string"

In [29]:
flattened_dict = dict()

In [114]:
flattened_dict[':'] =   {'c':{'lop':1}}

In [66]:
flattened_dict = dict()

In [73]:
if not '3':
    flattened_dict[':'] =   '2'

In [74]:
 flattened_dict

{}

In [76]:
for object_key in nested_dict:
    print(object_key)

lop

In [112]:
d = [1,{2},4,3,4]

SyntaxError: invalid syntax (<ipython-input-112-aed832e93915>, line 3)

In [107]:
for ind in dic:
    for x in ind:
        print(_construct_key(previous_key =None, separator = '_', new_key = x, replace_separators=None))
        print(u"{}{}{}".format(None,'_', 'f'))

a
None_f
ñ
None_f
c
None_f

In [108]:
def flatten(
        nested_dict,
        separator="_",
        root_keys_to_ignore=set(),
        replace_separators=None):
    """
    Flattens a dictionary with nested structure to a dictionary with no
    hierarchy
    Consider ignoring keys that you are not interested in to prevent
    unnecessary processing
    This is specially true for very deep objects
    :param nested_dict: dictionary we want to flatten
    :param separator: string to separate dictionary keys by
    :param root_keys_to_ignore: set of root keys to ignore from flattening
    :param str replace_separators: Replace separators within keys
    :return: flattened dictionary
    """
    assert isinstance(nested_dict, dict), "flatten requires a dictionary input"
    assert isinstance(separator, six.string_types), "separator must be string"

    # This global dictionary stores the flattened keys and values and is
    # ultimately returned
    flattened_dict = dict()

    def _flatten(object_, key):
        """
        For dict, list and set objects_ calls itself on the elements and for
        other types assigns the object_ to
        the corresponding key in the global flattened_dict
        :param object_: object to flatten
        :param key: carries the concatenated key for the object_
        :return: None
        """
        # Empty object can't be iterated, take as is
        if not object_:
            flattened_dict[key] = object_
        # These object types support iteration
        elif isinstance(object_, dict):
            for object_key in object_:
                if not (not key and object_key in root_keys_to_ignore):
                    _flatten(
                        object_[object_key],
                        _construct_key(
                            key,
                            separator,
                            object_key,
                            replace_separators=replace_separators))
        elif isinstance(object_, (list, set, tuple)):
            for index, item in enumerate(object_):
                _flatten(
                    item,
                    _construct_key(
                        key,
                        separator,
                        index,
                        replace_separators=replace_separators))
        # Anything left take as is
        else:
            flattened_dict[key] = object_

    _flatten(nested_dict, None)
    return flattened_dict


flatten_json = flatten

In [87]:
dic = {'a': '1',
               'b': '2',
               'c': {'c1': '3', 'c2': '4'}
               }
        expected = {'a': '1', 'b': '2', 'c*c1': '3', 'c*c2': '4'}

In [95]:
for ind in dic:
    print(ind)

{'a': '1', 'ñ': 'áéö', 'c': {'c1': '3', 'c2': '4'}}

In [138]:
flatten(nested_dict=nested_dict)

{'c_lop': 1}

In [201]:
flattened_dict = dict()

In [202]:
object_ = {'c':{'d':'dd'},'3':'e'}

In [203]:
def _construct_key(previous_key, separator, new_key, replace_separators=None):
    """
    Returns the new_key if no previous key exists, otherwise concatenates
    previous key, separator, and new_key
    :param previous_key:
    :param separator:
    :param new_key:
    :param str replace_separators: Replace separators within keys
    :return: a string if previous_key exists and simply passes through the
    new_key otherwise
    """ 
    if replace_separators is not None:
        new_key = str(new_key).replace(separator, replace_separators)
    if previous_key:
        print('previous_key {}'.format(previous_key))
        return u"{}{}{}".format(previous_key, separator, new_key)
    else:
        return new_key

In [210]:
def flatten(object_,key):
    print(object_)
    if not object_ :
        flattened_dict[key] = object_

    elif isinstance(object_, dict):
        for object_key in object_:
            print('object_key {}'.format(object_key ))
            flatten(
                object_[object_key],
                _construct_key(
                    key,
                    separator,
                    object_key,
                    replace_separators=replace_separators))
                    
    elif isinstance(object_, (list, set, tuple)):
        for index, item in enumerate(object_):
            flatten(
                item,
                _construct_key(
                    key,
                    separator,
                    index,
                    replace_separators=replace_separators))

    else:
        flattened_dict[key] = object_

In [211]:
dic = {'a': '1',
               'b': '2',
               'c': {'c1': '3', 'c2': '4'},'d': ['c1', '3', 'c2', '4']
               }

In [214]:
flattened_dict

{'a': '1',
 'b': '2',
 'c:c1': '3',
 'c:c2': '4',
 'd:0': 'c1',
 'd:1': '3',
 'd:2': 'c2',
 'd:3': '4'}

In [213]:
flatten(object_ = dic,key=None)

{'a': '1', 'b': '2', 'c': {'c1': '3', 'c2': '4'}, 'd': ['c1', '3', 'c2', '4']}
object_key a
1
object_key b
2
object_key c
{'c1': '3', 'c2': '4'}
object_key c1
previous_key c
3
object_key c2
previous_key c
4
object_key d
['c1', '3', 'c2', '4']
previous_key d
c1
previous_key d
3
previous_key d
c2
previous_key d
4

In [164]:
for i in d:
    dict_key[i] = d

In [160]:
d

{'d': 'dd'}

In [162]:
dict_key ={}

In [165]:
dict_key

{'d': {'d': 'dd'}}

In [167]:
d['d']

'dd'

In [2]:
import math

In [5]:
math.ceil(91000/10000)

10

In [9]:
2* 10000

20000

In [11]:
# random sales dictionary
sales = [{ 'apple': 2, 'orange': 3, 'grapes': 4 },{ 'apple': 2, 'orange': 3, 'grapes': 4 }]

print(sales.values())

AttributeError: 'list' object has no attribute 'values'

In [27]:
d = [ tuple(x) for i in [{ 'apple': 2, 'orange': 3, 'grapes': 4 },{ 'apple': 2, 'orange': 3, 'grapes': 4 }] for x in i.items() ]

In [28]:
d

[('apple', 2),
 ('orange', 3),
 ('grapes', 4),
 ('apple', 2),
 ('orange', 3),
 ('grapes', 4)]

In [29]:
x =  [7,1,5,3,6,4]

In [100]:
xx = []

In [101]:
if not xx:
    print('yes')

yes

In [102]:
xx1 =[]
for value in range(0,len(x)):
    for ind in range(value+1,len(x)):
        if x[ind] > x[value]:
            if not xx:
                xx.append(x[ind]-x[value])
                xx1.append(x[ind])
            elif xx[0] < x[ind]-x[value] :
                xx.pop()
                xx.append( x[ind] - x[value])
                xx1.pop()
                xx1.append(x[ind])
            else:
                pass

In [107]:
namedict = ({"first_name":"Joshua", "last_name":"Drake"},
            {"first_name":"Steven", "last_name":"Foo"},
            {"first_name":"David", "last_name":"Bar"})

In [108]:
for i in namedict:
    print(namedict)

({'first_name': 'Joshua', 'last_name': 'Drake'}, {'first_name': 'Steven', 'last_name': 'Foo'}, {'first_name': 'David', 'last_name': 'Bar'})
({'first_name': 'Joshua', 'last_name': 'Drake'}, {'first_name': 'Steven', 'last_name': 'Foo'}, {'first_name': 'David', 'last_name': 'Bar'})
({'first_name': 'Joshua', 'last_name': 'Drake'}, {'first_name': 'Steven', 'last_name': 'Foo'}, {'first_name': 'David', 'last_name': 'Bar'})

In [95]:
xx.pop()

IndexError: pop from empty list

In [96]:
xx1

[6]

In [70]:
string_datatype = ['object','bool']
numerical_datatype = ['int64']
time_stamp = ['datetime64','timedelta[ns]']

In [ ]:
if dt in string_datatype:
    type_ = 'str'
if dt in string_datatype:
    type_num = 'float64'
if df in time_stamp:
    type_time ='datetime64'

In [64]:
namedict = ({"first_name":"Joshua", "last_name":3},
            {"first_name":"Steven", "last_name":2},
            {"first_name":"David", "last_name":1})

In [65]:
import pandas as pf
import numpy as np

In [66]:
d = pf.DataFrame(namedict)

In [14]:
[tuple(x) for x in d.iloc[0:100].values]

[('Joshua', 'Drake'), ('Steven', 'Foo'), ('David', 'Bar')]

In [16]:
d.dtypes

first_name    object
last_name     object
dtype: object

In [75]:
for col in d.columns:
    if d[col].dtypes in numerical_datatype:
        print('yes')
        d[col] = list(map(lambda x : float(x),d[col]))
    elif d[col].dtype in string_datatype:
        d[col] = list(map(lambda x : str(x),d[col]))
    else:
        pass

In [76]:
d.dtypes.values

array([dtype('O'), dtype('float64')], dtype=object)

In [53]:
pf.api.types.infer_dtype(d['first_name'])

'string'

In [60]:
d['last_name'][0]

'3'

In [19]:
num = [1,4,3,2,5]

In [20]:
num = sorted(num)

In [32]:
num[-1]

5

In [22]:
num

[1, 2, 3, 4, 5]

In [30]:
for n in range(0,len(num),-1):
    print(n)

In [37]:
nmm = num[:]

In [38]:
nmm

[1, 2, 3, 4]

In [39]:
nmm.pop()

4

In [50]:
num[-2:1:-1]

[3]

In [ ]:
nmm[]