In [1]:
# This Notebook will contain all the necessary work related loading data and creating the data structure and loading to stage and prod database alone with update and delete functions

# The data which we will be using will be from TPC-DS Schema (This has 8 fact tables ),
#  In this we will build Store Sales Fact Table

# Tech Stack Files ------ > Mysql (Files to Source Loading)

In [2]:
# Create database tpc_dc this is synonym to create schema in mysql
# Use database tpc_dc

In [35]:
create_database = """

create database it not exists tpc_dc 
CHARACTER SET utf8
 """

In [1]:
time_dim = """



create table if not exists time_dim (


t_time_sk integer not null,
t_time_id   char(16),
t_time int ,
t_hour int,
t_minute int,
t_second int,
t_am_pm char(2),
t_shift char(20),
t_sub_shift char(20),
t_meal_time char(20),

primary key(t_time_sk)


)


"""

In [2]:
date_dim = """

create table if not exists date_dim (

d_date_sk  integer not null primary key,
d_date_id char(16) not null,
d_date date not null,
d_month_seq  integer,
d_week_seq integer,
d_quarter_seq integer,
d_year integer,
d_dow integer,
d_moy integer,
d_dom integer,
d_qoy integer,
d_fy_year integer,
d_fy_quarter_seq integer,
d_fy_week_seq integer,
d_day_name char(9),
d_quarter_name char(6),
d_holiday char(1),
d_weekend char(1),
d_following_holiday char(1),
d_first_dom integer,
d_last_dom integer,
d_same_day_ly integer,
d_same_day_lq integer,
d_current_day char(1),
d_current_week char(1),
d_current_month char(1),
d_current_quarter char(1),
d_current_year char(1)



) 


"""

In [143]:
item = """

create table if not exists item (


i_item_sk integer not null primary key,
i_item_id  varchar(200) not null,
i_rec_start_date  varchar(200) null ,
i_rec_end_date varchar(200) null,
i_item_desc varchar(200) null,
i_current_price varchar(200) null,
i_wholesale_cost varchar(200) null,
i_brand_id varchar(200)  null,
i_brand char(50) null,
i_class_id varchar(200)  null,
i_class  varchar(200) null,
i_category_id varchar(200)  null,
i_category char(50) null,
i_manufact_id varchar(200)  null,
i_manufact varchar(200) null,
i_size varchar(200) null,
i_formulation char(20) null,
i_color varchar(200) null,
i_units varchar(200) null,
i_container varchar(200)null,
i_manager_id varchar(200)  null,
i_product_name varchar(200) null


)



"""

In [144]:
warehouse = """



create table if not exists warehouse (

w_warehouse_sk integer  not null primary key,
w_warehouse_id  char(16),
w_warehouse_name varchar(20),
w_warehouse_sq_ft integer,
w_street_number char(10),
w_street_name varchar(60),
w_street_type char(15),
w_suite_number char(10),
w_city varchar(60),
w_county varchar(30),
w_state char(2),
w_zip char(10),
w_country varchar(20),
w_gmt_offset decimal(5,2)

) 




"""

In [145]:
inventory_fact = """



create table if not exists 
inventory_fact (

inv_date_sk  integer  not null    REFERENCES date_dim(d_date_sk),

inv_item_sk integer  not null   REFERENCES iteam(i_item_sk),

inv_warehouse_sk integer  not null  REFERENCES warehouse(w_warehouse_sk),

inv_quantity_on_hand  integer 


)




"""

In [146]:
date_dim_drop = """  drop table if  exists  date_dim_drop  """
time_dim_drop =  """  drop table if exists  time_dim_drop """
item_drop =   """  drop table if  exists  item_drop   """
warehouse_drop =  """  drop table if exists  warehouse_drop  """
inventory_fact_drop =  """  drop table if exists  inventory_fact_drop """

In [147]:
create_tables = [date_dim,time_dim,item,warehouse,inventory_fact]
drop_tables = [date_dim_drop,time_dim_drop,item_drop,warehouse_drop,inventory_fact_drop]

In [10]:
# update dimensions

In [11]:
import pandas as pd 
import mysql.connector

In [12]:
config = {
    'user': 'retail_user',
    'password': 'amogh',
    'host': 'localhost',
    'port': '3307'

}

In [13]:
create_database = """

create database if not exists tpc_dc 
CHARACTER SET utf8
  """

In [14]:
drop_database = """
 
 drop database if exists tpc_dc 
 """

In [15]:
class NumpyMySQLConverter(mysql.connector.conversion.MySQLConverter):

  
    """ A mysql.connector Converter that handles Numpy types """

    def _float32_to_mysql(self, value):
        return float(value)

    def _float64_to_mysql(self, value):
        return float(value)

    def _int32_to_mysql(self, value):
        return int(value)

    def _int64_to_mysql(self, value):
        return int(value)

In [16]:
# 
def mysql_connection():
    try:
        cnx = mysql.connector.connect(**config)
        print("connection successful")
        
        cnx.autocommit = True

        cur = cnx.cursor()
        cur.execute(drop_database)
        print("""
                database droped 
            """)
        cur.execute(create_database)
        print("""
                database created
            """)

        cur.close()
        conn = mysql.connector.connect(database = 'tpc_dc', **config)
        
        cur = conn.cursor()

        return cur , conn

    except Exception as e:
        print(e)

In [162]:
def drop_func(cur,conn,drop_table_list):

    for drop_t in drop_table_list:
        cur.execute(drop_t)
        conn.commit()
    
    print('droped tables')

In [18]:
cur, conn = mysql_connection()

drop_func(cur =cur,conn =conn,drop_table_list = drop_tables)

connection successful

                database droped


                database created

droped tables

In [163]:
drop_func(cur =cur,conn =conn,drop_table_list = ["""  drop table if  exists  item_drop   """])

droped tables

In [19]:
def create_func(cur,conn,create_table_list):

    for create_t in create_table_list:
        cur.execute(create_t)
    
    print('create tables')

In [20]:
date_dim = """

create table if not exists date_dim (

d_date_sk  integer not null primary key,
d_date_id char(16) not null,
d_date  date not null,
d_month_seq  integer,
d_week_seq integer,
d_quarter_seq integer,
d_year integer,
d_dow integer,
d_moy integer,
d_dom integer,
d_qoy integer,
d_fy_year integer,
d_fy_quarter_seq integer,
d_fy_week_seq integer,
d_day_name char(9),
d_quarter_name char(6),
d_holiday char(1),
d_weekend char(1),
d_following_holiday char(1),
d_first_dom integer,
d_last_dom integer,
d_same_day_ly integer,
d_same_day_lq integer,
d_current_day char(1),
d_current_week char(1),
d_current_month char(1),
d_current_quarter char(1),
d_current_year char(1)



) 


"""

In [21]:
data_ = [date_dim]

In [150]:
create_func(cur =cur,conn =conn,create_table_list = create_tables)

create tables

In [4]:
# insert data


columns = ['f','g']

In [20]:
col_ = tuple(i for i in columns)

In [32]:
col2 = tuple('%s' for i in col_)

('f', 'g', 'g')

In [33]:
f"insert into table  {col_} values {col2}"

"insert into table  ('f', 'g') values ('%s', '%s')"

In [23]:
def insert_data(columns,table):

    col1 = ', '.join([i for i in columns])
    col2 = ', '.join(['%s' for i in columns])
    insert_query = f"insert into {table}  ({col1}) values ({col2})"

    return insert_query

In [64]:
'" ,"'.join([i for i in col])

'i_item_sk" ,"i_item_id" ,"i_rec_start_date" ,"i_rec_end_date" ,"i_item_desc" ,"i_current_price" ,"i_wholesale_cost" ,"i_brand_id" ,"i_brand" ,"i_class_id" ,"i_class" ,"i_category_id" ,"i_category" ,"i_manufact_id" ,"i_manufact" ,"i_size" ,"i_formulation" ,"i_color" ,"i_units" ,"i_container" ,"i_manager_id" ,"i_product_name'

In [132]:
item = pd.read_csv('../retailer/data/dat/item.dat',sep="|",skipinitialspace=True)

In [133]:
def trim_all_columns(df):

    trim_string = lambda x : x.rstrip() if isinstance(x,str) else x

    return df.applymap(trim_string)

In [140]:
item1 = trim_all_columns(item)

In [141]:
item1.loc[:,'i_brand'][1]

'amalgamalg #1'

In [28]:
col = list(item.columns)

In [6]:
col = list(item.columns)
d = insert_data(columns=col)
item1.fillna(value = 'NULL',inplace=True)

In [154]:
item1.fillna(value = 'NULL',inplace=True)

In [136]:

def insert_rows(cur, conn ,columns,table,data):
    conn.set_converter_class(NumpyMySQLConverter)
    insert_query = insert_data(columns=columns,table=table)
    x = 1 
    rows = []

    for row in range(0,data.shape[0]):

        rows.append(tuple(data.iloc[row].values))
       
        if x % 1000 == 0:

            cur.executemany(insert_query,rows)
            rows = []
        
        x +=1 
    cur.executemany(insert_query,rows)
    print( x)

In [164]:
insert_rows(cur = cur, conn = conn ,columns = col,table = 'item' ,data= item1 )

DataError: 1292 (22007): Incorrect date value: 'NULL' for column 'i_rec_end_date' at row 1

In [121]:
insert_data(columns = col,table = 'item' )

'insert into item  (i_item_sk, i_item_id, i_rec_start_date, i_rec_end_date, i_item_desc, i_current_price, i_wholesale_cost, i_brand_id, i_brand, i_class_id, i_class, i_category_id, i_category, i_manufact_id, i_manufact, i_size, i_formulation, i_color, i_units, i_container, i_manager_id, i_product_name) values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'

In [152]:
item1['i_item_sk']  = item1['i_item_sk'].astype('float')

In [83]:
xx = item.iloc[1:10]

In [96]:
len(item.columns)

22

In [94]:
len(xx.iloc[1].values)

22

In [129]:
item1.head(3)

,i_item_sk,i_item_id,i_rec_start_date,i_rec_end_date,i_item_desc,i_current_price,i_wholesale_cost,i_brand_id,i_brand,i_class_id,...,i_category,i_manufact_id,i_manufact,i_size,i_formulation,i_color,i_units,i_container,i_manager_id,i_product_name
0,1.0,AAAAAAAABAAAAAAA,1997-10-27,None,Powers will not get influences. Electoral port...,27.02,23.23,5.003e+06,exportischolar #2,3,...,Music,52,ableanti,N/A,3663peru009490160959,spring,Tsp,Unknown,6,ought
1,2.0,AAAAAAAACAAAAAAA,1997-10-27,2000-10-26,False opportunities would run alone with a vie...,1.12,0.38,1.001e+06,amalgamalg #1,1,...,Women,294,esen stable,petite,516steel060826230906,rosy,Bunch,Unknown,98,able
2,3.0,AAAAAAAACAAAAAAA,2000-10-27,None,False opportunities would run alone with a vie...,7.11,0.38,1.001e+06,brandbrand #4,7,...,Home,294,esen stable,N/A,516steel060826230906,sienna,Cup,Unknown,18,pri

In [76]:
for i in xx.index:
    print(tuple(xx.iloc[i-1].values))

(2.0, 'AAAAAAAACAAAAAAA', '1997-10-27          ', '2000-10-26          ', 'False opportunities would run alone with a views. Early approaches would show inc, european intentions; important, main passages shall know urban, ', 1.12, 0.38, 1001001.0, 'amalgamalg #1                                     ', 1.0, 'dresses                                           ', 1.0, 'Women                                             ', 294.0, 'esen stable                                       ', 'petite              ', '516steel060826230906', 'rosy                ', 'Bunch     ', 'Unknown   ', 98.0, 'able                                              ')
(3.0, 'AAAAAAAACAAAAAAA', '2000-10-27          ', nan, 'False opportunities would run alone with a views. Early approaches would show inc, european intentions; important, main passages shall know urban, ', 7.11, 0.38, 1001001.0, 'brandbrand #4                                     ', 7.0, 'decor                                             ', 7.0, 'Home                                              ', 294.0, 'esen stable                                       ', 'N/A                 ', '516steel060826230906', 'sienna              ', 'Cup       ', 'Unknown   ', 18.0, 'pri                                               ')
(4.0, 'AAAAAAAAEAAAAAAA', '1997-10-27          ', '1999-10-27          ', 'Normal systems would join simply different theories. Full, new clothes may eat instead achievements. D', 1.35, 0.85, 3002001.0, 'importoexporti #1                                 ', 2.0, 'infants                                           ', 3.0, 'Children                                          ', 479.0, 'n stationese                                      ', 'extra large         ', '610157moccasin018327', 'red                 ', 'Tbl       ', 'Unknown   ', 26.0, 'ese                                               ')
(5.0, 'AAAAAAAAEAAAAAAA', '1999-10-28          ', '2001-10-26          ', 'Normal systems would join simply different theories. Full, new clothes may eat instead achievements. D', 4.0, 1.76, 2002002.0, 'importoimporto #2                                 ', 2.0, 'shirts                                            ', 2.0, 'Men                                               ', 220.0, 'barableable                                       ', 'petite              ', '42214rosy28066558020', 'pink                ', 'Cup       ', 'Unknown   ', 27.0, 'anti                                              ')
(6.0, 'AAAAAAAAEAAAAAAA', '2001-10-27          ', nan, 'Normal systems would join simply different theories. Full, new clothes may eat instead achievements. D', 0.85, 1.76, 2002002.0, 'exportiimporto #1                                 ', 3.0, 'pants                                             ', 2.0, 'Men                                               ', 212.0, 'barableable                                       ', 'large               ', '42214rosy28066558020', 'moccasin            ', 'Bundle    ', 'Unknown   ', 6.0, 'cally                                             ')
(7.0, 'AAAAAAAAHAAAAAAA', '1997-10-27          ', nan, 'Anxious accounts must catch also years. Revolutionary, large directors used to embrace then mo', 9.94, 6.75, 3001002.0, 'amalgexporti #2                                   ', 1.0, 'newborn                                           ', 3.0, 'Children                                          ', 214.0, 'eseoughtable                                      ', 'petite              ', '6moccasin24027188872', 'spring              ', 'Tsp       ', 'Unknown   ', 64.0, 'ation                                             ')
(8.0, 'AAAAAAAAIAAAAAAA', '1997-10-27          ', '2000-10-26          ', 'F', 2.76, 0.85, 3003001.0, 'exportiexporti #1                                 ', 3.0, 'toddlers                                          ', 3.0, 'Children                                          ', 630.0, 'barprically                                       ', 'extra large         ', '35123wheat3256343398', 'turquoise           ', 'Carton    ', 'Unknown   ', 25.0, 'eing                                              ')
(9.0, 'AAAAAAAAIAAAAAAA', '2000-10-27          ', nan, 'F', 4.46, 0.85, 1004002.0, 'edu packamalg #2                                  ', 3.0, 'swimwear                                          ', 1.0, 'Women                                             ', 630.0, 'barprically                                       ', 'medium              ', '35123wheat3256343398', 'wheat               ', 'Tbl       ', 'Unknown   ', 3.0, 'n st                                              ')
(10.0, 'AAAAAAAAKAAAAAAA', '1997-10-27          ', '1999-10-27          ', 'Classical services go trousers. However great galleries might say needs. Assumptions change very in favour of the notes. Teeth woul', 8.94, 4.11, 10008011.0, 'namelessunivamalg #11                             ', 8.0, 'scanners                                          ', 10.0, 'Electronics                                       ', 350.0, 'barantipri                                        ', 'N/A                 ', '8159007505thistle447', 'pale                ', 'Tsp       ', 'Unknown   ', 34.0, 'barought                                          ')

In [79]:
#

In [49]:
string_datatype = ['object','bool']
numerical_datatype = ['int64']
time_stamp = ['datetime64','timedelta[ns]']

AttributeError: 'DataFrame' object has no attribute 'select_dtype'

In [ ]:
string_datatype = ['object','category','bool']
numerical_datatype = ['int64','float64']
time_stamp = ['datetime64','timedelta[ns]']

In [87]:

for i in xx.columns:
   if  xx[i].dtypes == 'float64':
        xx[i] = xx[i].astype('str')

In [ ]:
if dt in string_datatype:
    type_ = 'str'
if dt in string_datatype:
    type_num = 'float64'
if df in time_stamp:
    type_time ='datetime64'

In [89]:
for col in d.columns:
    if d[col].dtypes in numerical_datatype:
        d[col] = list(map(lambda x : float(x),d[col]))
    elif d[col].dtype in string_datatype:
        d[col] = list(map(lambda x : str(x),d[col]))
    else:
        pass

i_item_sk           object
i_item_id           object
i_rec_start_date    object
i_rec_end_date      object
i_item_desc         object
i_current_price     object
i_wholesale_cost    object
i_brand_id          object
i_brand             object
i_class_id          object
i_class             object
i_category_id       object
i_category          object
i_manufact_id       object
i_manufact          object
i_size              object
i_formulation       object
i_color             object
i_units             object
i_container         object
i_manager_id        object
i_product_name      object
dtype: object

In [2]:
import pandas as pd
df = pd.read_csv('../retailer/data/dat/inventory.dat',sep="|",skipinitialspace=True)
df.shape

(11745000, 4)